.ruby-background {
  background-color: #681D15;
}

.btn-primary {
  background-color: #681d15;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: #681d15 !important;
  background-color: #ffffff !important;
  border-color: #681d15 !important;
  border-width: 4px;
}

